.pop-up {
  color: black;
  background-color: #fff;
  text-align: center;
  width: 45%;
  position: absolute;
  left: 25%;
  padding: 20px;
}

.button {
  margin-top: 10px;
  font-size: 12px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  background-color: #c97d98;
  color: white;
}
